<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @chat_room.name %>

</p>
<h2>Message</h2>

<div id="messages">
    <% @chat_room.messages.each do |message| %>
        <div class="message">
           <%= message.user.email %> says:  <%= message.message %>
        </div>
    <% end %>
</div>

<%= render 'messages/form', message: Message.new(:chat_room_id => @chat_room.id) %>
